@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

.search-result-page {
  padding: 40px 15%;
}

.search-result-title {
  font-family: "Merriweather", serif;
  font-size: 4em;
  display: flex;
  align-items: center;
  color: #484848;
  margin-bottom: 40px;
}

.search-result-course {
  flex: 0 1 0;
  margin-bottom: 20px;
}

.search-result-join {
  font-family: Roboto;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #00a3c7;
  border: 3px solid #00a3c7;
  border-radius: 8px;
  transition: 0.2s ease-out;
  padding: 20px 50px 20px 50px;
  width: 217px;
  height: 68px;
  &:hover {
    filter: brightness(125%);
  }
}

.search-result-continue {
  font-family: Roboto;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #23a873;
  border: 3px solid #23a873;
  padding: 20px 50px 20px 50px;
  border-radius: 8px;
  transition: 0.2s ease-out;

  &:hover {
    filter: brightness(125%);
  }
}

.knowledge-card {
  display: flex;
  align-items: center;
  margin: 24px 0px;
  font-size: 2em;
}

.knowledge-picture {
  width: 125px;
  height: 125px;
  margin-right: 16px;
  > img {
    border-radius: 4px;
  }
}

.search-not-found {
  font-size: 3.5em;
  text-align: center;
}
