@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.search-result-page {
  padding: 40px 15%;
}

.search-result-title {
  font-family: 'Merriweather', serif;
  font-size: 4em;
  display: flex;
  align-items: center;
  color: #484848;
  margin-bottom: 40px;
}

.search-result-course {
  flex: 0 1 0;
  margin-bottom: 20px;
}

.search-result-join {
  font-family: Roboto;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #00a3c7;
  border: 4px solid #00a3c7;
  border-radius: 8px;
  width: 250px;
  height: 100px;
  transition: 0.2s ease-out;

  &:hover {
    filter: brightness(125%);
  }
}
