.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background-color: white;
}

.navbar-container.signed-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #353535;
}

.navbar-title {
    font-size: 3.5em;
    font-weight: 500;
    line-height: 0.85em;
    color: black;
    margin-left: 8px;
    margin-right: 20px;
    cursor: default;
}

.navbar-title.signed-in {
    color: white;
}

.navbar-textfield-container {
    border-bottom: 1.5px solid #d4d4d4;
}

.navbar-textfield-container > svg {
    margin: 0 6px 2px 0;
    color: #d4d4d4;
}

.navbar-textfield-container input {
    width: 400px;
    margin-bottom: 2px;
    border: none;
    outline: none;
    font-size: 1.4em;
    color: #424242;
}

.navbar-textfield-container input.signed-in {
    background-color: #353535;
    color: #d4d4d4;
}

.navbar-container > div {
    display: flex;
    align-items: center;
    color: white;
}

.navbar-menu-icon-container > span {
    font-size: 2em;
    margin: 0 20px;
    cursor: pointer;
}

.navbar-sign-in-button-container > span {
    font-size: 1.8em;
    color: #484848;
    margin: 0 16px;
    cursor: pointer;
}