.learn-page-container {
  height: calc(100% - 65px);
  width: 100%;
  overflow: hidden;
}

.learn-page-content-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.learn-page-content-subject {
  font-size: 3em;
}

.learn-page-content-description {
  font-size: 1.5em;
}