.learn-page-container {
  height: 100%;
  width: 100%;
}

.learn-page-content-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learn-page-content-description {
  font-size: 1.5em;
}