@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

.my-course-page-container {
    display: flex;
    flex-direction: column;
    padding: 40px 15%;
}

.ant-collapse {
    border: 1;
}

.startCourse {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top : 5%;
}

.course-page-container > div > div  {
    display: flex;
    flex-direction: column;
}

input:focus {
    outline: none
}

.header {
    font-family: "Merriweather", serif;
    font-size: 4em;
    display: flex;
    align-items: center;
    color: #484848;
    margin-bottom: 40px;
}

.joinCourse {
    background-color : #FFFFFF;
    border : 3px solid #00A3C7;
    font-size : 2em;
    padding : 20px 50px 20px 50px;
    border-radius : 5;
    color : #00A3C7;
    border-radius: 8px
}

.continueCourse {
    background-color : #FFFFFF;
    border : 3px solid #23a873;
    font-size : 2em;
    padding : 20px 50px 20px 50px;
    border-radius : 5px;
    color : #23a873;
    border-radius: 8px
}