.coursenav-container {
  background-color: rgba(196, 196, 196, 0.25);
  height: 100%;
  user-select: none;
}

.coursenav-name {
  text-align: center;
  font-size: 1.4em;
  padding: 32px 0;
}

.coursenav-separator {
  height: 1px;
  background-color: #dddddd;
}

.coursenav-subject-container {
  font-size: 1.2em;
}

.coursenav-subject-name {
  padding: 8px 24px 8px 24px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.coursenav-subject-knowledge {
  padding: 8px 0 8px 48px;
  cursor: pointer;
}

.coursenav-subject-name:hover,
.coursenav-subject-knowledge:hover {
  background-color: rgba(211, 211, 211, 0.25);
}
